/* black    background-color: rgb(58, 56, 56);
/* blue    background-color: rgb(39, 58, 99);
/* yellow     color: rgb(220, 209, 89);
/* white    color: azure;
/* gold     color: gold;

/* General */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&family=Roboto+Slab:wght@900&family=Roboto:ital,wght@1,900&family=Rubik:ital,wght@1,400;1,600&display=swap');

body{
    font-family: 'Roboto mono', 'Roboto slab','Roboto ital';
}

/* Header */

button {
    background-color: rgb(39, 58, 99);
    border: none;
    color: azure;
}

header{
    background-color: rgb(39, 58, 99);
    color: azure;
    margin: -10px;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
}

header h3 {
    margin: 10px
}

nav li:hover {
    border: 1px solid #fff;
}

.chome, .cold, .cnew, .clarge, .csmall{
    color:azure;
}

nav ul {
    list-style-type: none;
}

li {
    text-align: center;
    justify-content: center;
}

#temple-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: .5rem;
    align-items: center;
    margin-bottom: 3rem;
}

#temple-cards  div {
    height: 100%;
    margin: .5rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#temple-cards  h4 {
    color: navy;
    font-size: smaller;
}


#temple-cards  img {
    width: 250px;
    height: auto;
    box-shadow: 0 0 30px #777;
    margin: .5rem;
}


/* Main */

main {
    text-align: center;
}

#hamb{
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: azure;
    position: absolute;
    top: 0em;
    right: 1em;
}

.hm a:hover {
	font-weight: 700;
}

.hm {
    display: flex;
	flex-direction: column;
	list-style: none;
	color: azure;
}

.hm a{
    display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: azure;
}

.open a {
    display: block;
}

#hamb::before{
    content: "☰";
}

#hamb.open::before{
    content: "X";
}

/* Footer */

footer {
    background-color: rgb(39, 58, 99);
    color: azure;
    margin: -10px;
    text-align: center;
    padding: 1px;
}